# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs & Temporary files
*.log
*.tmp
*.temp
scratch/
